body{
    background-color:rgb(90, 31, 129);
    color:rgb(255, 255, 255);
    margin:0px;
}
header{

    border-bottom: solid 2px rgb(113, 67, 160);
    padding: 30px;
    font-size: 46px;
    color:rgb(246, 242, 250);
}


    section{
        background-color: darkviolet;
        padding-top: 80px;
        padding-bottom: 80px;
display: flex;
justify-content: center;
    }
