body{
    background-color:rgb(90, 31, 129);
    color:rgb(255, 255, 255);
    margin:0px;
}
header{

    border-bottom: solid 2px rgb(113, 67, 160);
    padding: 30px;
    font-size: 46px;
    color:rgb(246, 242, 250);
}


.chamada{

    background-color: darkviolet;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}